@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'Android' ;
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body{
    background-color: #84E1AD;
    font-size: 1em;
}

p:not(.intro, footer p){
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: 10px 0px;
    padding: 3px;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

header{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, #3BD580, #1A5B37);
    text-align: center;
    padding-top: 20px;
    min-width: 300px;
}

#introducao{
    font-family: 'Bebas Neue', cursive;
    color: #ffffff;
    font-weight: normal;
    text-shadow: 1px 1px 1px  #808080;
    margin-bottom: 5px;
}

.intro{
    color: #f0ebeb;
    text-shadow: 1px 0px 1px darkslategray;
}

nav{
    font-family: 'Times New Roman', Times, serif;
    background-color: #1A5B37;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.219);
    padding: 10px;
    min-width: 300px;
}

nav a{
    text-decoration: none;
    color: #ffffffee;
    font-weight: bold;
    padding: 10px;
    transition: 0.3s ease;
}

nav > a:hover{
    background-color:#3bd5807e;
    border-radius: 2px;
}

main{
    background-color: #ffffff;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 4px 4px 5px  rgba(119, 156, 150, 0.719);
    padding: 30px;
    margin: 0px auto 10px auto;
    max-width: 800px;
    min-width: 400px;
}

article h1, h2, h3{
    font-family: 'Android', serif;
    font-weight: normal;
    margin-left: 5px;
    text-indent: 10px;
}

#android{
    color: #1A5B37;
    font-size: 2em;
    padding: 5px;
    text-indent: 3px;
}

article h2, article a, aside a{
    background-image: linear-gradient(to right, #8bc9a7, #9cc5aeb6, #e4e4e4);
    color:#1A5B37;
}

a{
    padding: 3px;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color:#1a5b37b0 ;
}

.imagem{
    width: 100%;
}

.bugdroid{
    max-width: 300px;
    display: block;
    margin: auto;
}

#video{
    border-width: 15px 40px;
    border-style: solid;
    border-color: #1A5B37;
    margin: 20px -30px;
}

#video iframe{
    width: 100%;
}

aside{
    box-shadow: 3px 2px 4px 0px rgb(119, 156, 150);
    background-color: #C5EBD6;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 15px;
}

aside h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    font-weight: normal;
    color:#ffffff;
    background-color: #30b16a;
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    text-shadow: 1px #a9a9a9;
}

section{
    margin: 0px 15px;
}

abbr{
    text-decoration: underline;
    cursor: pointer;
}

.listas{
    margin-left: 70px;
    text-align: left;
    columns: 2;
}

footer{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #1A5B37;
    align-items: center;
    justify-content: center;
    height: 31px;
    border-radius: 1px;
}